# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
helix-env/
env/
venv/


# Code settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and outputs
*.log
*.tmp
